--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
numpy
gymnasium
stable-baselines3
imitation
vgamepad
lerobot
# notebooks
opencv-python
pygame
jupyterlab
ipykernel
# windows
pywin32